{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Local</h4>
                <p class="lead mb-0">
                    Conjunto I - Prédio 1 - Salão Azul <br> Rua dos Andradas Nº: 1614
                </p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Compartilhe o evento</h4>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank"
                            href="https://www.facebook.com/sharer/sharer.php?u=http://www.sirc.universidadefranciscana.edu.br/site">
                            <i class="fab fa-fw fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank"
                            href="https://twitter.com/home?status=http://www.sirc.universidadefranciscana.edu.br/site">
                            <i class="fab fa-fw fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank"
                            href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.sirc.universidadefranciscana.edu.br/site">
                            <i class="fab fa-fw fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank"
                            href="whatsapp://send?text=http://www.sirc.universidadefranciscana.edu.br/site">
                            <i class="fab fa-fw fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase mb-4">SIRC <span style="color: #00D2C1">2019</span></h4>
                <p class="lead mb-0"><span style="color: #00D2C1">XV </span>Simpósio de Informática </p>
            </div>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; Desenvolvido por <a href="http://github.com/jgmartinss/" target="_blank">João
                Martins</a></small>
    </div>
</div>

{% endblock %}